@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #edf0f1;
}

.navbar-nav li {
  padding-right: 40px;
}

.nav-link b,
.navbar-brand b {
  color: black;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.navbar-brand b:hover,
.navbar-brand b:focus,
.navbar-brand b:active {
  text-decoration: underline;
}

.link {
  margin-top: 7px;
  display: flex;
  justify-content: start;

}

.ref {
  margin: 0px;
}

.dr2 {
  width: 30px;
  height: 30px;
  margin-top: 1px;
  margin-left: 2px;
  text-decoration: none;
  opacity: 0.35;
}



.dr {
  width: 32px;
  height: 32px;
  text-decoration: none;
  opacity: 0.35;
  margin-right: 5px;
}

.dr:hover,
.dr:focus,
.dr:active {
  opacity: 100;
}

.dr2:hover,
.dr2:focus,
.dr2:active {
  opacity: 100;
}

/*top Button*/
#topButtom {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #ff8f19;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.5s;
}

#topButtom:hover,
#topButtom:focus,
#topButtom:active {
  background-color: #ff8f19;
  opacity: 100;
}

/*top Button styles end */