{% extends 'base.html' %}

{% block title %}
Cтраница About
{% endblock %}


{% block body %}

<h1>О СИСТЕМЕ</h1>
<br>

ОПТИМАЛЬНЫЙ ВОЗРАСТ РЕБЕНКА: 5-6 ЛЕТ
<p>
<p>
<p>Самый оптимальный возраст для приобщения ребенка к кружкам: 5-6 лет, в этом возрастеребенок готов учиться, слушать взрослого и повторять.
<p>ПРОАНАЛИЗИРУЙТЕ СПОСОБНОСТИ РЕБЕНКА
<p>Начать выбор подходящего занятия нужно с анализа того, к чему, на ваш взгляд, у вашего ребенка есть способности, склонности, что его интересует. Вовсе НЕ ОБЯЗАТЕЛЬНО, чтобы у ребенка был талант к чему-либо, но, если вы хотите, чтобы ребенок достиг значительных успехов в той или иной области, заниматься ему следует тем, к чему у него есть способности и что, при наличии этих способностей, ему интересно.
<p>Начать выбор подходящего занятия нужно с анализа того, к чему, на ваш взгляд, у вашего ребенка есть способности, склонности, что его интересует. Вовсе НЕ ОБЯЗАТЕЛЬНО, чтобы у ребенка был талант к чему-либо, но, если вы хотите, чтобы ребенок достиг значительных успехов в той или иной области, заниматься ему следует тем, к чему у него есть способности и что, при наличии этих способностей, ему интересно.
<p>ПОПРОБУЙТЕ РАЗНЫЕ ВИДЫ ЗАНЯТИЙ
<p>В раннем возрасте интересы ребенка только начинают зарождаться, большинству детей нравится абсолютно разные занятия, в связи с чем родителям трудно определить интересы малыша. В таком случае правильным будет такой подход: старайтесь развивать своего ребенка во всех направлениях. Пусть он попробует и лепку, и танцы, и какой-либо вид спорта, и игру на музыкальных инструментах, и шитье мягкой игрушки, и рисование. Подобное разнообразие поможет понять его склонности.
<p>ПООБЩАЙТЕСЬ С РЕБЕНКОМ О ЕГО ИНТЕРЕСАХ
<p>С ребенком постарше можно поговорить и расспросить, чем бы ему хотелось заниматься, возможно, у него уже есть на примете какой-нибудь кружок, в который он хотел бы ходить. Если нет - приходите в наш центр на первые бесплатные занятия, пусть Ваш ребенок сам выберет, какие кружки ему нравятся. Его выбор не оправдал ваших ожиданий? Не спешите спорить, дети иногда «мечутся из стороны в сторону», экспериментируют – это нормально, самое главное, чтобы ребенок получал удовольствие!
ПОЗНАКОМЬТЕСЬ С ПЕДАГОГОМ
Перед записью ребенка в кружок мы советуем лично познакомится с педагогом.



{% endblock %}