<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Подключение внутреннего CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <!-- Название титульника -->
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!-- Навбар -->
    <div class="shadow-sm p-0 mb-3 bg-white rounded">
        <nav class="navbar navbar-expand-md navbar-light stickys-top"
            style="background-color: #ff8f19;padding-top: 4px;padding-bottom: 4px;">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://kontakt.minsk.edu.by/" target="_blank"
                    style="padding-bottom: 0px;padding-top: 0px;">
                    <img src="static/image/logo_1.png" width="50" height="38" class="d-inline-block align-top" alt=""
                        loading="lazy" style="padding-bottom: 1px;padding-top: 1px;">
                    <font color="white"><b>ГУО ЦДОДиМ "Контакт"</b></font>
                </a>

                <!-- Меню -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">
                                <svg class="bi bi-house-door-fill" width="2em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    style="padding-top: 0px;margin-top: 0px;margin-bottom: 5px;">
                                    <path
                                        d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
                                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                        clip-rule="evenodd" />
                                </svg>
                                <b>ГЛАВНАЯ</b></a>
                        <li class="nav-item dropdown">
                            <a href="http://kontakt.minsk.edu.by/ru/main.aspx?guid=101411" target="_blank"
                                class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="bi bi-list-check" width="2em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    style="padding-top: 0px;margin-top: 0px;margin-bottom: 5px;">
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM3.854 2.146a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 3.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 7.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg>
                                <b>РАСПИСАНИЕ ЗАНЯТИЙ</b></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Отдел декоративно-прикладного творчества и ИЗО</a>
                                <a class="dropdown-item" href="#">Отдел спорта и туризма</a>
                                <a class="dropdown-item" href="#">Отдел интеллектуально-технического творчества</a>
                                <a class="dropdown-item" href="#">Отдел культурно-досуговой деятельности</a> <a
                                    class="dropdown-item" href="#">Отдел социально-педагогической работы</a>
                                <a class="dropdown-item" href="#">Отдел общественно-гуманитарной деятельности</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">
                                <svg class="bi bi-chat-square-dots-fill" width="2em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    style="padding-top: 0px;margin-top: 0px;margin-bottom: 5px;">
                                    <path fill-rule="evenodd"
                                        d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm5 4a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z"
                                        clip-rule="evenodd" />
                                </svg>
                                <b>О СИСТЕМЕ</b></a>
                        </li>
                    </ul>
                </div>
                <!-- Поиск по сайту-->
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Поиск по сайту" aria-label="search"
                        style="margin-top: 2px;margin-bottom: 2px;">
                    <button type="button" class="btn btn-success"
                        style="margin-top: 2px; margin-bottom: 2px;">Поиск</button>
                </form>
            </div>
        </nav>
    </div>

    <!-- Основное содержание -->
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <!-- Подвал footer-->
    <footer class="container pt-1 my-md-5 pt-md-3 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img src="/static/image/logo_1.png" width="34" height="24" class="d-inline-block align-top" style="margin-bottom: 13px;">
            <circle cx="12" cy="12" r="10"></circle>
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path>
                </svg>
                <small class="d-block mb-3 text-muted">&copy ГУО ЦДОДиМ "Контакт" <script type="text/javascript">
                        var d = new Date();
                        document.write(d.getFullYear());
                    </script>
                    <br>Адрес: г. Минск, ул. М.Танка, 8
                    <br>Телефон: 8 (017) 203-22-42
                    <br>Факс: 8 (017) 203-22-42
                    <br>e-mail: cvr_con@minsk.edu.by
                </small>
            </div>
            <div class="col-6 col-md">
                <h5>ГЛАВНАЯ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Главная</a></li>
                    <li><a class="text-muted" href="#">Сайт Центра</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Расписание занятий</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Отдел декоративно-прикладного творчества и ИЗО</a></li>
                    <li><a class="text-muted" href="#">Отдел спорта и туризма</a></li>
                    <li><a class="text-muted" href="#">Отдел интеллектуально-технического творчества</a></li>
                    <li><a class="text-muted" href="#">Отдел культурно-досуговой деятельности</a></li>
                    <li><a class="text-muted" href="#">Отдел социально-педагогической работы</a></li>
                    <li><a class="text-muted" href="#">Отдел общественно-гуманитарной деятельности</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>КОНТАКТЫ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://kontakt.minsk.edu.by/ru/main.aspx?guid=101151"
                            target="_blank">Контакты</a></li>
                    <li><a class="text-muted" href="http://kontakt.minsk.edu.by/ru/main.aspx?guid=2401"
                            target="_blank">Администрация</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О СИСТЕМЕ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/about">Ответы на вопросы</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- Butoon UP -->
    <div id="topButtom"><img src="http://kontakt.minsk.edu.by/sm.aspx?guid=54363" title="Вверх" /></div>
    <!-- Script block -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>