{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}


{% block body %}
<h1>Система электронной записи в объединения по интересам</h1>
<h4>Заполните таблицу данных:</h4>
<br>
Данные учащегося:
<br>
<br>
<form method="post" action="/" name="form_register">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Фамилия</label>
            <input type="text" class="form-control" name="inputFamily" value="" required>
            </div>
        <div class="form-group col-md-2">
            <label>Имя</label>
            <input type="text" class="form-control" name="inputName" value="" required>
        </div>
        <div class="form-group col-md-2">
            <label>Отчество</label>
            <input type="text" class="form-control" name="inputLastName" value="" required>
        </div>
        <div class="form-group col-md-2">
            <label>Моб.телефон</label>
            <input type="tel" class="form-control" name="inputPhone" placeholder="+375291234567" value="" required>
        </div>
    </div>
    <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Отправить</button>
</form>



Сведения об учащемся:
<br>
<br>
<div class="form-row">
        <div class="form-group col-md-2">
            <label for="date">Дата рождения</label>
            <input type="date" class="form-control" id="inputDateBirthsday">
        </div>
        <div class="form-group col-md-3">
            <label for="inputShool">Тип учреждения образования</label>
            <select id="inputShool" class="form-control">
                <option selected>Выбрать...</option>
                <option>Ясли-сад</option>
                <option>Школа</option>
                <option>Гимназия</option>
                <option>Колледж</option>
                <option>ВУЗ</option>
                <option>Домашнее обучение</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="text">№ школы / учреждения</label>
            <input type="text" class="form-control" id="inputNumberShool" placeholder="12">
        </div>
        <div class="form-group col-md-1">
            <label for="inputClass">Класс / курс</label>
            <input type="text" class="form-control" id="inputClass" placeholder="5А">
        </div>
    </div>

    Адрес, место жительства:
    <br>
    <br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputCity">Город</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Минск">
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Район</label>
            <select id="inputState" class="form-control">
                <option selected>Выбрать... если Минск</option>
                <option>Фрунзенский</option>
                <option>Центральный</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="inputTupeStreet">Тип улицы</label>
            <select id="inputTupeStreet" class="form-control">
                <option selected>Выбрать...</option>
                <option>ул.</option>
                <option>пр.</option>
                <option>пер.</option>
                <option>площадь</option>
                <option>проезд</option>
                <option>тупик</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="text">Название улицы</label>
            <input type="text" class="form-control" id="imputStreet" placeholder="Победителей">
        </div>
        <div class="form-group col-md-1">
            <label for="inputCity">Номер дома</label>
            <input type="text" class="form-control" id="inputCity" placeholder="77">
        </div>
        <div class="form-group col-md-1">
            <label for="inputCity">Корпус</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-1">
            <label for="inputCity">Квартира</label>
            <input type="text" class="form-control" id="inputCity" placeholder="7">
        </div>
    </div>
    Сведения о родителях:
    <br>
    <br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Фамилия</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Отца">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Имя</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Отчество</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Номер телефона</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="+375291234567">
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputEmail4">Фамилия</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Матери">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">Имя</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">Отчество</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">Номер телефона</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="+375291234567">
                </div>
            </div>
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Загрузить фото свидетельства о рождении либо последней страницы
                        паспорта учащегося:</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
            <br>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Условия регистрации принимаю (<a href="/about">Условия регистрации</a>)*
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Отправить</button>
        </form>
        </div>


        {% endblock %}