{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}


{% block body %}
<h1>Система электронной записи в объединения по интересам</h1>
<h4>Заполните таблицу данных:</h4>
<br>
Данные учащегося:
<br>
<br>
<form method="post" action="/" name="form_register">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Фамилия</label>
            <input type="text" class="form-control" name="inputFamily" value="" required>
            </div>
        <div class="form-group col-md-2">
            <label>Имя</label>
            <input type="text" class="form-control" name="inputName" value="" required>
        </div>
        <div class="form-group col-md-2">
            <label>Отчество</label>
            <input type="text" class="form-control" name="inputLastName" value="" required>
        </div>
        <div class="form-group col-md-2">
            <label>Моб.телефон</label>
            <input type="tel" class="form-control" name="inputPhone" placeholder="+375291234567" value="" required>
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Дата рождения</label>
            <input type="date" class="form-control" name="inputDateBirthsday">
        </div>
        <div class="form-group col-md-3">
            <label>Тип учреждения образования</label>
            <select name="inputShool" class="form-control">
                <option selected>Выбрать...</option>
                <option>Ясли-сад</option>
                <option>Школа</option>
                <option>Гимназия</option>
                <option>Колледж</option>
                <option>ВУЗ</option>
                <option>Домашнее обучение</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>№ школы / учреждения</label>
            <input type="text" class="form-control" name="inputNumberShool" placeholder="12">
        </div>
        <div class="form-group col-md-1">
            <label>Класс / курс</label>
            <input type="text" class="form-control" name="inputClass" placeholder="5А">
        </div>
    </div>
    <br>
Адрес, место жительства учащегося:
    <br>
    <br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Город</label>
            <input type="text" class="form-control" name="inputCity" placeholder="Минск">
        </div>
        <div class="form-group col-md-2">
            <label>Район</label>
            <select name="inputRaion" class="form-control">
                <option selected>Выбрать... если Минск</option>
                <option>Фрунзенский</option>
                <option>Центральный</option>
                <option>Советский</option>
                <option>Первомайский</option>
                <option>Партизанский</option>
                <option>Октябрьский</option>
                <option>Московский</option>
                <option>Ленинский</option>
                <option>Заводской</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Тип улицы</label>
            <select name="inputTupeStreet" class="form-control">
                <option selected>Выбрать...</option>
                <option>улица</option>
                <option>проспект</option>
                <option>переулок</option>
                <option>площадь</option>
                <option>проезд</option>
                <option>тупик</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Название улицы</label>
            <input type="text" class="form-control" name="imputNameStreet" placeholder="Победителей">
        </div>
        <div class="form-group col-md-1">
            <label>Номер дома</label>
            <input type="text" class="form-control" name="inputHome" placeholder="77">
        </div>
        <div class="form-group col-md-1">
            <label>Корпус</label>
            <input type="text" class="form-control" name="inputCorpus">
        </div>
        <div class="form-group col-md-1">
            <label>Квартира</label>
            <input type="text" class="form-control" name="inputRoom" placeholder="7">
        </div>
    </div>
    <br>
Сведения о родителях:
    <br>
    <br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Фамилия</label>
            <input type="text" class="form-control" name="inputFatherFamyli" placeholder="Отца">
        </div>
        <div class="form-group col-md-2">
            <label>Имя</label>
            <input type="text" class="form-control" name="inputFatherName">
        </div>
        <div class="form-group col-md-2">
            <label>Отчество</label>
            <input type="text" class="form-control" name="inputFatherLastName">
        </div>
        <div class="form-group col-md-2">
            <label>Номер телефона</label>
            <input type="text" class="form-control" name="inputFatherPhone" placeholder="+375291234567">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Фамилия</label>
            <input type="text" class="form-control" id="inputMatherFamyli" placeholder="Матери">
        </div>
        <div class="form-group col-md-2">
            <label>Имя</label>
            <input type="text" class="form-control" name="inputMatherName">
        </div>
        <div class="form-group col-md-2">
            <label>Отчество</label>
            <input type="text" class="form-control" name="inputMatherLastName">
        </div>
        <div class="form-group col-md-2">
            <label>Номер телефона</label>
            <input type="text" class="form-control" name="inputMatherPhone" placeholder="+375291234567">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="image">
            <label class="form-check-label">Загрузить фотографию последней страницы паспорта ребенка либо фото свидетельства о рождении:</label>
            <br>
            <br>
            <input type="file" name="SendPhoto" multiple accept="image/*">
        </div>
        <br>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gridCheck">
            <label class="form-check-label">Условия регистрации принимаю (<a href="/about">Условия регистрации</a>)*
            </label>
        </div>
        <br>
    </div>
    <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Отправить</button>
</form>


{% endblock %}