{% extends 'base.html' %}

{% block title %}
Техподдержка
{% endblock %}


{% block body %}


<h1>ТЕХПОДДЕРЖКА</h1>
<br>
<h4>Заполните форму обратной связи:</h4>
<br>
<form class="forms col-md-8" style="padding-left: 0px;padding-right: 0px;">

  <div class="form-group">
    <label for="exampleFormControlInput1">Введите ваш Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
  </div>
    <div class="form-row">
        <div class="form-group сol-md-8" style="margin-left: 5px;">
            <label>Введите ваше Имя</label>
            <input type="text" class="form-control" name="inputName" value="" required>
        </div>
        <div class="DIV col-md-8">
            Загрузите фото либо скриншот ошибки
            <br>
            <div class="custom-file col-md-8" style="padding-top: 0px;margin-top: 7px;">
                <input type="file" class="custom-file-input" id="customFile" name="SendPhoto" multiple accept="image/*">
                <label class="custom-file-label" for="customFile" data-browse="Загрузить">Выберите файл:</label>
            </div>
        </div>
    </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Введите текст сообщения</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" required></textarea>
  </div>
    <br>
    <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Отправить форму</button>
</form>






{% endblock %}